@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
}

header {
  && .header-base__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #192655;
    color: #F3F0CA;

    && h1 a {
      color: #F3F0CA;
      text-decoration: none;
    }
    && a {
      color: #F3F0CA;
      text-decoration: none;
    }

  }
}

/*Add habit page*/
.main-habit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #3876BF;
  flex-direction: column;
  height: 100%;

  && h2 {
    color: #F3F0CA;
    margin-bottom: 1rem;
  }

  }


}


footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding: 1rem;
  background-color: #192655;
  color: #F3F0CA;

  && .footer__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;

    && a {
      text-decoration: none;
    }
  }


}


